<!DOCTYPE html>
<html>
<head>
	<title>Valtys</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="image/x-icon" href="https://images4.imagebam.com/1a/1a/0d/ME95SYB_o.png"> 
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
		.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
		.fa-anchor,.fa-coffee {font-size:200px}
	
		table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btn {
  border: none;
  background-color: rgb(255, 101, 30);
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
		</style>	
    	<div class="w3-top" >
			<div class="w3-bar w3-red w3-card w3-left-align w3-large">
			  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
			  <a href="http://localhost:5000/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
			  <a href="http://localhost:5000/valtys" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Valtys </a>
			  <a href="http://localhost:5000/Uostai" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Uostai</a>
			</div>
		  
			<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
			</div>
		  </div>
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
<h1 class="w3-margin w3-jumbo">Uostų duomenų bazė</h1>
</header>
<table align="center"> 
	<tr>
	<th> Uosto pavadinimas  </th>
	<th> Uosto koordinatės </th>
	<th> Uosto miestas </th>
	<th> Redaguoti </th>
	<th> Ištrinti </th>
  </tr>

  <% 
  for(var i=0; i<result.length; i++)
  {
  %>
      <tr> 
        <td><%=result[i].Uosto_pavadinimas%></td>
        <td><%=result[i].Uosto_koordinates%></td>
        <td><%=result[i].Uosto_miestas%></td>
		<td> <button type="button" onclick="window.location.href='/uostai_redaguoti/<%=result[i].id%>'" class="btn"><i class="fa fa-pencil"></i> Redaguoti</button> </td>
		<td> <button type="button" onclick="window.location.href='/uostai/istrinti/<%=result[i].id%>'" class="btn"><i class="fa fa-trash"></i> Ištrinti</button> </td>
      </tr>	
  <br>
      <%
  }
  %>
  <td colspan="5" align="center"><button input type="button" onclick="window.location.href='http://localhost:5000/uostai_prideti';" class="btn"><i class="fa fa-plus"></i> Pridėti</button> </td>
  </table>

  
</table>



</body>
</html>





