<!DOCTYPE html>
<html>
<head>
<title>Valtys</title>
<link rel="icon" type="image/x-icon" href="https://images4.imagebam.com/1a/1a/0d/ME95SYB_o.png"> 
</head>
<body style="background: url(https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)" > 
</tr>
	<style>
		table, th, td {
		  border:1px solid black;
		}
		</style>
 <center><h1>VALČIŲ DUOMENU BAZE </h1></center> 
<table align="center"> 
	<tr>
	<th>Valties pavadinimas </th>
	<th>Valties savininkas</th>
	<th>Valties savininko telefono numeris</th>
	<th>Redaguoti</th>
	<th>Ištrinti</th>
  </tr>
  <% 
for(var i=0; i<result.length; i++)
{
%>
	<tr> 
	  <td><%=result[i].Valties_pavadinimas%></td>
	  <td><%=result[i].Valties_savininkas%></td>
	  <td><%=result[i].Valties_savininko_telefono_numeris%></td>
	  <td> <input type="button" onclick="window.location.href='/valtys_redaguoti/<%=result[i].id%>'"  value="Redaguoti"> </td>
	  <td> <input type="button" onclick="window.location.href='/valtys/istrinti/<%=result[i].id%>'" value="Ištrinti"> </td>
	</tr>	
<br>
	<%
}
%>
<td colspan="5" align="center"><button input type="button" onclick="window.location.href='http://localhost:5000/valtys_prideti';"> Pridėti</button> </td>
</table>



</body>
</html>





